
                <div class="row">
                    <div class="col-md-4">
                        <label>Assessment</label>
                              <p>{{audit}}</p>
                    </div>
                    <div class="col-md-4">
                        <label> Status </label>
                        <p>{{audit.get_status_display}}</p>
                    </div>
                      <div class="col-md-4">
                        <label> Derived From</label>
                        <p>{{audit.derived_from}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Score</label>
                     <p class="text-success"> {{audit.score_in_words}}</p>
                    </div>
                    <div class="col-md-4">
                        <label>Created On</label>
                     <p> {{audit.created_on}}</p>
                    </div>
                    <div class="col-md-4">
                        <label>Created By</label>
                     <p> {{audit.created_by}}</p>
                    </div>
                </div>
