{% load i18n %}
{% load questions_tags %}
{% load humanize %}

<div class="row">
    <div class="col-12">
        <p>{{question.prompt}}</p>
    </div>

</div>

<div class="row mt-3">
    <div class="col-md-1 col-2">
        <h5><span style="font-size: 99%; writing-mode: tb-rl;" class="badge badge-info pt-3 pb-3">{{ question.section }}</span></h5>
    </div>
    <div class="col-md-11 col-10">
    {% for answer in question.answers.all %}
        <div class="row">
            <div class="col-8">
                <label class="form-radio-label" >
                    <input class="form-radio-input " type="radio" name="{{ answer.prompt }}" value="{{ answer.prompt }}" id="{{ answer.id }}" {% if answer.selected_answer is True %}checked="checked"{% endif %} disabled>
                    <span class="form-radio-sign ml-2">{{ answer.prompt_en }}</span>
                </label>
            </div>
            <div class="col-4">{% print_answer_weight answer.pk %}</div>
        </div>
    {% endfor %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        {% if question.is_answered %}
            {% if question.is_scored %}
                {% trans 'Question Score is' %} <span class="badge badge-primary">{{ question.score }}</span>
                {% trans 'out of' %} <span class="badge badge-primary">{{ question.weight }}</span>
            {% else %}
                {% trans 'Question Weight is' %} <span class="badge badge-primary">{{ question.weight }}</span>
                <em>{% trans 'BUT it is not included in the final score' %}</em>
            {% endif %}
            {% if widget.attrs.question.answered_by and widget.attrs.question.answered_on %}
                <br><small>{% trans 'Answered by' %} <b>{{ question.answered_by }}</b>&nbsp;&nbsp;(<b>{{ question.answered_on|naturaltime }}</b>)</small>
            {% endif %}
        {% else %}
            {% trans 'Question Weight is' %} <span class="badge badge-primary">{{ question.weight }}</span>
        {% endif %}
    </div>
</div>
