{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load questions_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}

{% block title %} Assessment {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Assessment Questions</h2>
                        <h5 class="text-white op-7 mb-2">{{ audit.score_in_words }}</h5>
                    </div>

                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            {% include "assessment/_audit_info.html" with audit=audit %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title">{% trans "Report" %}</div>
                                <div class="card-tools">
                                    <a href="{% url 'export_assessment' audit.id %}?_export=csv" class="btn btn-info btn-border btn-round btn-sm ml-2 mr-2">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
                                        {% trans "Export CSV" %}
                                    </a>
{#                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm">#}
{#										<span class="btn-label">#}
{#											<i class="fa fa-print"></i>#}
{#										</span>#}
{#                                        Print#}
{#                                    </a>#}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <ul class="nav flex-column nav-pills nav-secondary nav-pills-no-bd"
                                        id="sections-tab" role="tablist" aria-orientation="vertical">
                                        {% for root_section in root_sections.keys %}
                                            <li class="nav-item">
                                                <a class="nav-link" id="sections-tab-{{ root_section.id }}"
                                                   data-toggle="pill" href="#section-{{ root_section.id }}" role="tab"
                                                   aria-selected="true"><i class="fa fa-angle-double-right mr-1 ml-1"></i>{{ root_section }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-9">
                                    <div class="tab-content mb-3" id="sections-tabContent">
                                        {% for root_section in root_sections.keys %}
                                            <div class="tab-pane fade show" id="section-{{ root_section.id }}"
                                                 role="tabpanel" aria-labelledby="section-{{ root_section.id }}">
                                                <label>{% blocktrans %}Section Score{% endblocktrans %}</label>
                                                <p class="text-success">{{ root_section.score }}</p>

                                                <div class="accordion accordion-secondary">
                                                    {% for section in root_sections|get_item:root_section %}
                                                        <div class="card">
                                                            <div class="card-header" id="headingOne-{{ section.id }}"
                                                                 data-toggle="collapse"
                                                                 data-target="#collapse-{{ section.id }}"
                                                                 aria-expanded="true"
                                                                 aria-controls="collapse{{ section.id }}">
                                                                <div class="span-mode"></div>
                                                                <div class="span-title ml-2 mr-2">
                                                                    {{ section.full_path }}
                                                                </div>
                                                            </div>

                                                            <div id="collapse-{{ section.id }}" class="collapse show"
                                                                 aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                    {% render_table tables|get_item:section.id %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}


                                                </div>


                                            </div>
                                        {% endfor %}

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title">{% trans "Charts" %}</div>
{#                                <div class="card-tools">#}
{#                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">#}
{#										<span class="btn-label">#}
{#											<i class="fa fa-pencil"></i>#}
{#										</span>#}
{#                                        Export#}
{#                                    </a>#}
{#                                    <a href="#" class="btn btn-info btn-border btn-round btn-sm">#}
{#										<span class="btn-label">#}
{#											<i class="fa fa-print"></i>#}
{#										</span>#}
{#                                        Print#}
{#                                    </a>#}
{#                                </div>#}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="chart-container mt-5" style="min-height: 475px">
                                        <canvas id="statisticsChart"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="chart-container" style="min-height: 375px; background-color: white!important;">
                                        <canvas id="radarChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script type="application/javascript">
        function randomInteger(max) {
            return Math.floor(Math.random()*(max + 1));
        }
        
        function randomRgbColor(a) {
            let r = randomInteger(255);
            let g = randomInteger(255);
            let b = randomInteger(255);
            //return [r,g,b];
            return "rgba(" + r +"," + g + "," + "," + a + ")";
        }
        
        let labelz = JSON.parse("{{ labels | escapejs }}")
        let scorez = JSON.parse("{{ scores | escapejs }}")
        let fullMarks = JSON.parse("{{ full_marks | escapejs }}")

        var ctx = document.getElementById('statisticsChart').getContext('2d');

        const mixedChart = new Chart(ctx, {
            data: {
                datasets: [{
                    type: 'bar',
                    label: '{% trans "Sections Scores" %}',
                    data: scorez
                }],
                labels: labelz
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var ctx2 = document.getElementById('radarChart').getContext('2d');

        const data = {
            labels: labelz,
            datasets: [{
                label: '{% trans "Sections Scores" %}',
                data: scorez,
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                pointBackgroundColor: 'rgb(255, 99, 132)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(255, 99, 132)'
            }, {
                label: '{% trans "Full Marks" %}',
                data: fullMarks,
                fill: true,
                backgroundColor: 'rgba(1, 135, 73, 0.40)',
                borderColor: 'green',
                pointBackgroundColor: 'rgb(54, 162, 235)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(54, 162, 235)'
            }]
        };

        const config = {
            type: 'radar',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: '{% trans "Performance Chart" %}'
                    }
                },
                scales: {
                    r: {
                        angleLines: {
                            display: false
                        },
                        suggestedMin: 0,
                        max: 100
                    }
                }
            },
        };

        const radarChart = new Chart(ctx2, config);
    </script>
{% endblock javascripts %}
