<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
{#                    <a class="nav-link"#}
{#                       target="_blank"#}
{#                       href="https://control-the-quality.com/">#}
{#                        Control THE Quality Official Website#}
{#                    </a>#}
                    <a class="nav-link"
                       target="_blank"
                       href="https://www.emtethal.com/">
                        Emtethal.com
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            &copy; 2024-2025 <a target="_blank" href="https://www.joudcv.com">Abdullah Joud</a>
            - Guidance By <a target="_blank" href="#">Dr. Abdelahmid Hashim</a>
        </div>
    </div>
</footer>
            