{% load static i18n %}
<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            {% if request.user.is_authenticated %}
                <div class="user">
                    <div class="avatar-sm float-left mr-2">
                        <img src="{% static 'img/profile.jpg' %}" alt="..." class="avatar-img rounded-circle">
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span>
                                {{ request.user.username }}
                                <span class="user-level">
                                    {{ request.user.email }}
                                </span>
                                <span class="caret"></span>
                            </span>
                        </a>
                        <div class="clearfix"></div>

                        <div class="collapse in" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="#profile">
                                        <span class="link-collapse">{% blocktrans %}My Profile{% endblocktrans %}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <span class="link-collapse">{% trans "Logout" %}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-primary">
                    <li class="nav-item active">
                        <a href="{% url 'home' %}">
                            <i class="fas fa-home"></i>
                            <p>{% trans 'Dashboard' %}</p>
                        </a>
                    </li>
                    <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                        <h4 class="text-section">{% trans 'Switch Language' %}</h4>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language" class="form-control" onchange="this.form.submit();">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                            selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                    </li>
                    <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                        <h4 class="text-section">{% trans 'Control Panel' %}</h4>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'assessments_list' %}">
                            <i class="fas fa-tasks"></i>
                            <p>{% trans 'Assessments' %}</p>
                        </a>
                    </li>
                    {% if request.user.is_staff or request.user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'organizations_list' %}">
                                <i class="fas fa-user-tie"></i>
                                <p>{% trans 'Organizations' %}</p>
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{% url 'tasks_list' %}">
                            <i class="fas fa-calendar-check"></i>
                            <p>{% trans 'Tasks' %}</p>
                        </a>
                    </li>
                    {% if request.user.employee.has_owner_permissions %}
                        <li class="nav-item">
                            <a href="{% url 'employees_list' request.user.employee.organization.id %}">
                                <i class="fas fa-user-tie"></i>
                                <p>{% trans 'Employees' %}</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'update_departments' request.user.employee.organization.id %}">
                                <i class="fas fa-user-tie"></i>
                                <p>{% trans 'Departments' %}</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_staff or request.user.is_superuser %}
                    <li class="mx-4 mt-2">
                        <a target="_blank"
                           href="{% url 'admin:index' %}"
                           class="btn btn-primary btn-block">
                                <span class="btn-label mr-2"> <i
                                        class="fa fa-rocket"></i> </span>{% trans 'Admin Panel' %}</a>
                    </li>
                    {% endif %}
                </ul>

            {% else %}
                {#                <ul class="nav nav-primary">#}
                {#                    <li class="mx-4 mt-2">#}
                {#                        <a target="_blank"#}
                {#                           href="https://appseed.us/support/"#}
                {#                           class="btn btn-danger btn-block">#}
                {#                            <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>{% trans "Support" %}</a>#}
                {#                    </li>#}
                {#                </ul>#}
            {% endif %}
        </div>
    </div>
</div>
<!-- End Sidebar -->
        