{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load questions_tags %}
{% load i18n %}

{% block title %} Assessment {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ form.media.css }}
{% endblock stylesheets %}


{% block content %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold"> {{organization}} </h2>
                    <h5 class="text-white op-7 mb-2"></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="page-inner mt--5">
        <form method="post" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}

            <div id="divCheckbox" style="display: none;">
                {{form}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="table-div " id="answers_table">
                                <table class="table">


                                    {{ department_formset.management_form }}

                                    {% for form in department_formset.forms %}
                                    {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    {% endif %}

                                    <tr class="{% cycle 'row1' 'row2' %} formset_row">

                                        {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                        {% endfor %}

                                        {% for field in form.visible_fields %}
                                        <td>
                                            {{ field.errors.as_ul }}

                                            {{ field }}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary float-right ml-3">
                            <span class="btn-label">
                                <i class="fa fa-check-circle"></i>
                            </span>
                        {% trans 'Save' %}

                    </button>
                    <button class="btn btn-danger float-left mr-3">
                            <span class="btn-label">
                                <i class="fa fa-strikethrough"></i>
                            </span>
                        {% trans 'Cancel' %}
                    </button>
                </div>
            </div>
        </form>
    </div>


</div>


<script src="{% static 'js/plugin/jquery.formset.js' %}"></script>
{{ form.media.js }}
<script type="text/javascript">
$('.formset_row').formset({
    addText: '<i class="fa fa-plus-square"></i> Add Department',
    prefix: 'departments',
    deleteText: '<i class="fa fa-trash" style="color:red"></i>',
    addCssClass: 'btn btn-secondary'

});


</script>

{% endblock content %}

